@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roobert;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/Roobert-Regular-2b0345b049d46f67090f.woff2) format("woff2"), url(https://assets.twitch.tv/assets/Roobert-Regular-d8c9f381df585bfa97ad.woff) format("woff")
}

@font-face {
  font-family: Roobert;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/Roobert-SemiBold-2c9de19c87721c9bcb39.woff2) format("woff2"), url(https://assets.twitch.tv/assets/Roobert-SemiBold-217d94292de83f831903.woff) format("woff")
}

@font-face {
  font-family: Roobert;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/Roobert-Bold-8c226ebd8e4868649a7e.woff2) format("woff2"), url(https://assets.twitch.tv/assets/Roobert-Bold-aba47eaaa5d9062509aa.woff) format("woff")
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/inter-cyrillic-ext-variable-wghtOnly-normal-54de81abbcf869efd1dc.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-cyrillic-ext-400-normal-54de81abbcf869efd1dc.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-cyrillic-ext-400-normal-aa8133a0307c1eff7efe.woff) format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/inter-cyrillic-variable-wghtOnly-normal-3164eabdbb931859ae7c.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-cyrillic-400-normal-3164eabdbb931859ae7c.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-cyrillic-400-normal-4142cf2e29adc01c89f4.woff) format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/inter-greek-ext-variable-wghtOnly-normal-c2a24f65668ba8f3fdf7.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-greek-ext-400-normal-c2a24f65668ba8f3fdf7.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-greek-ext-400-normal-798516d474bab0b7ba82.woff) format("woff");
  unicode-range: u+1f??
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/inter-greek-variable-wghtOnly-normal-75a1d3c8eb035b420ce6.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-greek-400-normal-75a1d3c8eb035b420ce6.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-greek-400-normal-b2f20ff89ac0b67237a7.woff) format("woff");
  unicode-range: u+0370-03ff
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/inter-vietnamese-variable-wghtOnly-normal-c15997f1d022aff0bd00.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-vietnamese-400-normal-c15997f1d022aff0bd00.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-vietnamese-400-normal-3a4d09ca50e0dcf999a4.woff) format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/inter-latin-ext-variable-wghtOnly-normal-29df4aa934ecc9462070.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-latin-ext-400-normal-29df4aa934ecc9462070.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-latin-ext-400-normal-f19e1558afd55d5a7e56.woff) format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.twitch.tv/assets/inter-latin-variable-wghtOnly-normal-a05a0d687a088c4efed3.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-latin-400-normal-a05a0d687a088c4efed3.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-latin-400-normal-10194357ec5e44ae1777.woff) format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/inter-cyrillic-ext-variable-wghtOnly-normal-54de81abbcf869efd1dc.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-cyrillic-ext-600-normal-54de81abbcf869efd1dc.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-cyrillic-ext-600-normal-29041d63314a25228924.woff) format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/inter-cyrillic-variable-wghtOnly-normal-3164eabdbb931859ae7c.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-cyrillic-600-normal-3164eabdbb931859ae7c.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-cyrillic-600-normal-1e2f49c2eb5e3e66b82d.woff) format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/inter-greek-ext-variable-wghtOnly-normal-c2a24f65668ba8f3fdf7.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-greek-ext-600-normal-c2a24f65668ba8f3fdf7.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-greek-ext-600-normal-5b1f30807bb26826aaaa.woff) format("woff");
  unicode-range: u+1f??
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/inter-greek-variable-wghtOnly-normal-75a1d3c8eb035b420ce6.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-greek-600-normal-75a1d3c8eb035b420ce6.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-greek-600-normal-b586cdcd7547f6767a97.woff) format("woff");
  unicode-range: u+0370-03ff
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/inter-vietnamese-variable-wghtOnly-normal-c15997f1d022aff0bd00.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-vietnamese-600-normal-c15997f1d022aff0bd00.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-vietnamese-600-normal-8fd73a4b4353668fd24f.woff) format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/inter-latin-ext-variable-wghtOnly-normal-29df4aa934ecc9462070.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-latin-ext-600-normal-29df4aa934ecc9462070.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-latin-ext-600-normal-6d00aedf573f319ee3aa.woff) format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(https://assets.twitch.tv/assets/inter-latin-variable-wghtOnly-normal-a05a0d687a088c4efed3.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-latin-600-normal-a05a0d687a088c4efed3.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-latin-600-normal-5a87f7c487cd10f7fccc.woff) format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/inter-cyrillic-ext-variable-wghtOnly-normal-54de81abbcf869efd1dc.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-cyrillic-ext-700-normal-54de81abbcf869efd1dc.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-cyrillic-ext-700-normal-85faf577b2cac829cd84.woff) format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/inter-cyrillic-variable-wghtOnly-normal-3164eabdbb931859ae7c.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-cyrillic-700-normal-3164eabdbb931859ae7c.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-cyrillic-700-normal-7a6521fecbca44c4efbd.woff) format("woff");
  unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/inter-greek-ext-variable-wghtOnly-normal-c2a24f65668ba8f3fdf7.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-greek-ext-700-normal-c2a24f65668ba8f3fdf7.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-greek-ext-700-normal-5b7bb07d3809332647ac.woff) format("woff");
  unicode-range: u+1f??
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/inter-greek-variable-wghtOnly-normal-75a1d3c8eb035b420ce6.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-greek-700-normal-75a1d3c8eb035b420ce6.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-greek-700-normal-8801e9a732f43c2ed685.woff) format("woff");
  unicode-range: u+0370-03ff
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/inter-vietnamese-variable-wghtOnly-normal-c15997f1d022aff0bd00.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-vietnamese-700-normal-c15997f1d022aff0bd00.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-vietnamese-700-normal-9f6bca636caabd8f34d6.woff) format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/inter-latin-ext-variable-wghtOnly-normal-29df4aa934ecc9462070.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-latin-ext-700-normal-29df4aa934ecc9462070.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-latin-ext-700-normal-f808d79d7c48a4a75c2f.woff) format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(https://assets.twitch.tv/assets/inter-latin-variable-wghtOnly-normal-a05a0d687a088c4efed3.woff2) format("woff2-variations"), url(https://assets.twitch.tv/assets/inter-latin-700-normal-a05a0d687a088c4efed3.woff2) format("woff2"), url(https://assets.twitch.tv/assets/inter-latin-700-normal-9bbc3125d4caf98e62a2.woff) format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --font-base: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.ticker-tape-container {
  overflow-x: hidden;
  max-width: 700px;
  width: 100%;
  display: flex;
}

.ticker-tape {
  --direction: normal;
  --duration: 60s;
  --delay: 0s;
  --iteration-count: infinite;
  display: flex;
  gap: 1rem;
  flex: 0 0 auto;
  margin-right: 1rem;
  min-width: 100%;
  align-items: center;
  animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes scrmarqueeoll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* This is just some styling to make it look presentable */

.basic-styling {
  border-radius: 10px;
  background-color: lightblue;
  padding: 2rem;
  color: #010101;
  font-size: 1.5rem;
  font-family: var(--font-base);
}

.basic-styling span {
  padding: 0.25rem 1rem;
  border-radius: 10px;
  border: 2px dashed #5fb3ce;
  background-color: #86c5da;
}